{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h1 class="text-center h3 mb-5 text-uppercase" style="letter-spacing: 2px;">IDENTIFICATION</h1>
            
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger rounded-0 border-0 bg-danger bg-opacity-10 text-danger small mb-4">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3 text-center">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <div class="mb-4">
                    <label for="inputEmail" class="form-label text-uppercase small text-muted">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                
                <div class="mb-4">
                    <div class="d-flex justify-content-between">
                        <label for="inputPassword" class="form-label text-uppercase small text-muted">Mot de passe</label>
                        <a href="{{ path('app_forgot_password_request') }}" class="small text-muted text-decoration-none">Oublié ?</a>
                    </div>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="mb-4 form-check">
                    <input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input rounded-0 border-secondary">
                    <label for="_remember_me" class="form-check-label small text-muted">Se souvenir de moi</label>
                </div>

                <div class="d-grid gap-3 mt-5">
                    <button class="btn btn-primary" type="submit">SE CONNECTER</button>
                    <a href="{{ path('app_register') }}" class="btn btn-secondary">CRÉER UN COMPTE</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
